/* Basis-Klasse für alle data-nodes */
.data-node,
.data-category-node,
.data-item-node {
  font-weight: bold;
  border-color: #dad4dd3b;   
  transition: box-shadow 0.15s, background 0.15s, border-color 0.15s;
  box-shadow: 0 4px 6px -1px rgba(7, 20, 202, 0.377), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.data-node {
  color: #3730a3;
  background-color: #e0e7ff;         
  border-radius: 20px;
  padding: 6px 8px;
  font-size: 25px;
}

.data-category-node {
  color: #4d46a5;
  background-color: #f3f5fd;                
  border-radius: 16px;
  padding: 10px 20px;
  font-size: 21px;
}

.data-item-node {
  color: #4d4fce;
  background-color: #f8f9ff;         
  border-color: #e0e7ff;         
  border-radius: 12px;
  font-size: 19px;
}

/* Hover-Effekt für alle */
.data-node:hover,
.data-category-node:hover,
.data-item-node:hover {
  background-color: #c7d2fe;  
  border-color: #eef139;
  color: rgb(56, 34, 155);
  box-shadow: 0 8px 16px rgba(79, 70, 229, 0.12);
  filter: brightness(1.04);
}

/* Selected state für alle data-nodes */
.data-node.selected,
.data-category-node.selected,
.data-item-node.selected {
  border-color: #fbbf24;
  box-shadow: 0 0 0 2px #fbbf24, 0 4px 6px -1px rgba(7, 20, 202, 0.377), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

/* Edge Styles für Prozessketten Diagramm */
.react-flow__edge-path {
  stroke: #9394db;
  stroke-width: 2px;
}



